
body {
    background-color: white;
}


header{
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 300px;
    background-color: rgb(32, 126, 250);
    
    
}

#logo_header {
    height: 100px;
   
}

h1 {
    font-size: 45px;
}

.p1_testo {
    font-size: 10px;
    color: gray;
}

.p2_testo {
    font-size: 10px;
}

#table_color_line0 {
    background-color: rgb(52, 122, 252);
}

.table_color_line1 {
    background-color: rgb(65, 196, 248);
}
   
#p3_testo {
    color: gray;
}

.h3_imagebackground0 {
    background-image: url(../img/monitor.jpg);
    margin: 0%;
    font-size: 140%;
    width: 240px;
    height: 150px;
    color: white;
}

.h3_imagebackground1 {
    background-image: url(../img/graph.jpg);
    margin: 0%;
    font-size: 140%;
    width: 240px;
    height: 150px;
    color: white;
}

